{% extends 'base.html.twig' %}

{% block title %}Hello ProductoController!
{%
endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.titulo {
			text-align: center;
			font: 18px / 1.5 sans-serif;
			margin-bottom: 5%;
		}
	</style>

	{#  Desde aca estoy llamando al script que permite conectar el Vue JS   #}
	<script defer src="{{asset('js/Clientes.js')}}"></script>
	<script>
		const productoJSON = "{{ path('productoJSON') }}";
const crearProducto = "{{ path('crearProducto') }}";
	</script>

	<div id="app">

		<div class="container" style="margin-bottom:20%;">


			<div style="text-align:center;margin:5%">
				<h1>Base de datos Clientes</h1>
			</div>


			<div class="row">

				<div class="col-6">
					<button @click="nuevoCliente(1)" class="btn btn-success">Crear Cliente</button>
				</div>
				<div class="col-6" style="text-align:right;">
					<a href="/pedido" type="button" class="btn btn-info">Gestionar Pedidos</a>
				</div>
			</div>

			<br>
			<br>

			<table class="table table-striped" style="text-align: center;border: 1px;width:100%">
				<thead style="background-color:black;color:aliceblue">
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>CORREO</th>
						<th>DEPARTAMENTO</th>
						<th>MUNICIPIO</th>
						<th>VER PEDIDOS</th>
						<th colspan="3">ACCIONES</th>
					</tr>

					<tr></tr>
				</thead>
				<tbody>

					<tr v-if="nuevoC==1">
						<td></td>

						<td>
							<input v-model="formClientes.nombre" class="form-control" type="text"/>
						</td>
						<td><input v-model="formClientes.correo" class="form-control" type="email"/>
						</td>
						<td>

							<select class="form-select" v-model="formClientes.departamento">
								<option selected></option>
								<option v-for="departamento in departamentos">
									${departamento.nombre}</option>
							</select>
						</td>
						<td>
							<select v-if="formClientes.departamento" class="form-select" v-model="formClientes.municipio">
								<option selected></option>
								<option v-if="dane.departamento == formClientes.departamento" v-for="dane in dane">
									${dane.municipio}</option>
							</select>
						</td>
						<td></td>
						<td colspan="3">
							<button @click="crearCliente" class="btn btn-success">Crear</button>
							<button @click="nuevoCliente(0)" class="btn btn-danger">Cancelar</button>
						</td>


					</tr>
					<tr v-for="cliente in clientes">
						<td>
							<div>${cliente.id}</div>
						</td>
						<td>
							<div v-if="estadoId!=cliente.id">${cliente.nombre}</div>
							<input v-else-if="estadoId==cliente.id" v-model="cliente.nombre" type="text">
						</td>
						<td>
							<div v-if="estadoId!=cliente.id">${cliente.correo}</div>
							<input v-else-if="estadoId==cliente.id" v-model="cliente.correo" type="text">
						</td>

						<td>
							<div v-if="estadoId!=cliente.id">${cliente.departamento}</div>
							<select class="form-select" v-else-if="estadoId==cliente.id" v-model="cliente.departamento" style="width:70% ;">
								<option selected></option>
								<option v-for="departamento in departamentos">
									${departamento.nombre}</option>
							</select>

						</td>

						<td>

							<div v-if="estadoId!=cliente.id">${cliente.municipio}</div>
							<select class="form-select" v-else-if="estadoId==cliente.id" v-model="cliente.municipio">
								<option selected></option>
								<option v-if="dane.departamento == cliente.departamento" v-for="dane in dane">
									${dane.municipio}</option>
							</select>

						</td>


						<td>
							<button @click="modalPedidos(cliente)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCrearPedido">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewbox="0 0 16 16">
									<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
								</svg>
							</button>

						</td>
						<td>
							<button v-if="estadoId!=cliente.id" type="button" @click="editCliente(1,cliente.id,0)" class="btn btn-warning">Editar</button>
							<button v-if="estadoId!=cliente.id" @click="deleteCliente(cliente.id)" class="btn btn-danger">Eliminar</button>

							<button v-if="estadoId==cliente.id" @click="editCliente(0,0,cliente)" class="btn btn-success">Guardar</button>
							<button v-if="estadoId==cliente.id" @click="editCliente(0,0,0)" class="btn btn-danger">Cancelar</button>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<br>
			<br>


			<!-- Modal de crear un producto-->
			<div class="modal fade" id="modalCrearPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Pedidos</h5>
						</div>
						<div class="modal-body">

							<div class="row" style="text-align:center;">
								<div class="col-6">
									<strong>
										Cliente:
									</strong>

									${ dataModal.cliente.nombre }
								</div>

								<div class="col-6">
									<strong>
										Correo:
									</strong>

									${ dataModal.cliente.correo }
								</div>
							</div>

							<br>
							<br>
							<br>

							<div style="text-align:center ;">
								<h3>
									Pedidos realizados</h3>
							</div>
							<br>
							<br>
							<table class="table table-bordered" border="1px" style="text-align:center ;">
								<thead>
									<tr style="background-color:#596671;color:white">
										<th scope="col">codigo</th>
										<th scope="col">Departamento</th>
										<th scope="col">Municipio</th>
										<th scope="col">Total del Pedido $ </th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="pedido in dataModal.pedido">

										<td>${pedido.codigo}</td>
										<td>${pedido.departamento}</td>
										<td>${pedido.municipio}</td>
										<td> $ ${pedido.totalPedido} pesos </td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						</div>

					</div>
				</div>
			</div>


		</div>
	{% endblock %}
